.article_main {
    padding: 30px 0;

    .container {
        .default_block {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            .article_date {
                color: #A3A3A3;
                font-family: Overpass;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
            }

            .article_title {
                color: #222426;
                font-family: Overpass;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: block;
                margin-top: 10px;
            }

            .article_subtitle {
                color: #222426;
                font-family: Overpass;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: block;
                margin-top: 10px;
            }

            &-img {
                display: flex;
                flex-direction: column;
                margin: 20px 0;
                gap: 15px;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            p {
                display: block;
                margin-top: 20px;
                img {
                    display: block;
                    margin: 0 auto 15px;
                }
                iframe {
                    display: block;
                    margin: 0 auto;
                    width: 100%;                
                }
            }

            ul {
                margin-top: 25px;

                li {
                    gap: 0 10px;
                    position: relative;
                    color: $colorDark;
                    font-family: Overpass;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-bottom: 20px;
                    padding: 0 0 0 15px;
                    &:last-child {
                        margin: 0;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        top: 2px;
                        left: 0;
                        background: $colorBtn;
                        border-radius: 50px;

                    }
                }
            }

            ol {
                counter-reset: list-counter;
                list-style: none;
                padding-left: 0;

                li {
                    counter-increment: list-counter;
                    margin-bottom: 20px;
                    padding-left: 20px;
                    position: relative;
                    color: $colorDark;
                    font-family: Overpass;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    &:last-child {
                        margin: 0;
                    }

                    &::before {
                        content: counter(list-counter) ".";
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-weight: bold;
                        font-size: 16px;
                        color: #000;
                    }
                }
            }
        }
    }
}

@media (min-width: 648px) {
    .article_main {
        padding: 50px 0 20px;

        .container {
            .default_block {
                margin-bottom: 25px;

                .article_date {
                    font-size: 14px;
                }

                .article_title {
                    font-size: 18px;
                }

                .article_subtitle {
                    font-size: 16px;
                    margin-top: 15px;
                }

                &-img {
                    display: flex;
                    flex-direction: row;
                    margin: 25px 0;
                    gap: 20px;

                    img {
                        width: calc(50% - 10px);
                    }
                }

                p {
                    display: block;
                    margin-top: 25px;
                }
            }
        }
    }

}


@media (min-width: 1366px) {
    .article_main {
        padding: 70px 0 20px;

        .container {
            .default_block {
                margin-bottom: 50px;

                .article_date {
                    font-size: 16px;
                }

                .article_title {
                    font-size: 20px;
                    margin-top: 15px;
                }

                .article_subtitle {
                    font-size: 18px;
                    margin-top: 25px;
                }

                &-img {
                    margin: 40px 0;
                }

                p {
                    margin-top: 30px;
                    .alignleft {
                        float: left;
                        margin: 0 15px 0 0;
                        
                    }
                    .alignright {
                        float: right;
                        margin: 0 0 0 15px;
                    }
                    iframe {
                        width: 800px;
                        height: 450px;
                    }
                }
                ul {
                    li {
                        &::before {
                            top: 6px;
                        }
                    }
                }
                ul,
                ol {
                    li {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}


@media (min-width: 1880px) {
    .article_main {
        padding: 80px 0 30px;

        .container {
            .default_block {
                margin-bottom: 50px;

                .article_date {
                    font-size: 16px;
                }

                .article_title {
                    font-size: 24px;
                    margin-top: 20px;
                }

                .article_subtitle {
                    font-size: 20px;
                    margin-top: 40px;
                }

                ul,
                ol {
                    li {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}