<section class="watch_more">
    <div class="container">
        <h2 class="title title_pages">Можуть бути цікавими</h2>
        <div class="swiper moreSlider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="more_item" style="background: url(img/blog.jpeg) center center/cover no-repeat;">
                        <span class="more_item-date">16.11.2023</span>
                        <h4 class="more_item-title">Норми вологості волоського горіха.</h4>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="more_item" style="background: url(img/blog.jpeg) center center/cover no-repeat;">
                        <span class="more_item-date">16.11.2023</span>
                        <h4 class="more_item-title">Норми вологості волоського горіха.</h4>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="more_item" style="background: url(img/blog.jpeg) center center/cover no-repeat;">
                        <span class="more_item-date">16.11.2023</span>
                        <h4 class="more_item-title">Норми вологості волоського горіха.</h4>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="more_item" style="background: url(img/blog.jpeg) center center/cover no-repeat;">
                        <span class="more_item-date">16.11.2023</span>
                        <h4 class="more_item-title">Норми вологості волоського горіха.</h4>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>