<section class="blog_main">
    <div class="container">
        <div class="blog_items">
            <a href="#" class="blog_item" style="background: url(img/blog.jpeg) center center/cover no-repeat;">
                <span class="blog_item-date">16.11.2023</span>
                <h4 class="blog_item-title">Норми вологості волоського горіха.</h4>
            </a>
            <a href="#" class="blog_item" style="background: url(img/blog2.jpeg) center center/cover no-repeat;">
                <span class="blog_item-date">16.11.2023</span>
                <h4 class="blog_item-title">Норми вологості волоського горіха.</h4>
            </a>
            <a href="#" class="blog_item" style="background: url(img/blog.jpeg) center center/cover no-repeat;">
                <span class="blog_item-date">16.11.2023</span>
                <h4 class="blog_item-title">Норми вологості волоського горіха.</h4>
            </a>
            <a href="#" class="blog_item" style="background: url(img/blog.jpeg) center center/cover no-repeat;">
                <span class="blog_item-date">16.11.2023</span>
                <h4 class="blog_item-title">Норми вологості волоського горіха.</h4>
            </a>
            <a href="#" class="blog_item" style="background: url(img/blog2.jpeg) center center/cover no-repeat;">
                <span class="blog_item-date">16.11.2023</span>
                <h4 class="blog_item-title">Норми вологості волоського горіха.</h4>
            </a>
            <a href="#" class="blog_item" style="background: url(img/blog.jpeg) center center/cover no-repeat;">
                <span class="blog_item-date">16.11.2023</span>
                <h4 class="blog_item-title">Норми вологості волоського горіха.</h4>
            </a>
        </div>
        <nav class="pagination" aria-label="Page navigation">
            <button class="btn_more">Прогрузити ще</button>
            <ul>
                <li class="page-item first-page">
                    <a href="#" aria-label="Prev-page">&laquo;</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link" data-page="1">1</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link" data-page="2">2</a>
                </li>
                <li class="page-item active">
                    <a href="#" class="page-link" data-page="3">3</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link" data-page="4">4</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link" data-page="5">5</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">...</a>
                </li>
                <li class="page-item last-page">
                    <a href="#" aria-label="Next-page">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</section>