<section class="advantages">
    <div class="container">
        <h2 class="title title_pages">Наші переваги</h2>
        <ul class="advantages_items">
            <li>
                <img src="img/advantages.svg" alt="">
                <p>Експертність у переробки горіхів</p>
            </li>
            <li>
                <span>2010</span>
                <p>На ринку з 2010 року</p>
            </li>
            <li>
                <span>500+</span>
                <p>Працюємо з 500 клієнтів на ринку</p>
            </li>
            <li>
                <p>Ми не реалізтори, а дістрибьютори власнохї продокції, і маємо велику експертність у переробкі горіху
                    на власному опиті.</p>
            </li>
        </ul>
    </div>
</section>