<section class="history">
    <div class="container">
        <div class="default_block imgRight">
            <div class="default_block-text">
                <h2 class="title title_pages">Історія компанії</h2>
                <span class="subtitle">Бізнес починається з ідей, а успішний бізнес починається з ідей вирішення проблем
                    споживача.</span>
                <p>Творець та ідейний винахідник Nut Technology – Андрій Лапа, майбутній студент, зацікавився ореховим
                    бізнесом. Все початок покупки грецького ореха і його переробки для подальшої перепродажі. Все було б
                    відмінно, якщо б не кропотливий процес колки орехов молотком, який не завжди давав максимальну
                    ефективність – целые ядра. Андрій задумався про пошук обладнання для колки, яке спростить процес
                    переробки орехов і підвищить його ефективність.</p>
                <p>Оборудування для колки орехов нашлось дуже швидко. В процесі освоєнія з'явилися тільки розочарування.
                    Оказалось, що Андрій і його партнер зіткнулися з проблемою нехватки виробничого інструменту, ринок
                    не міг запропонувати нічого, крім громоздких неудобних пристосувань. </p>
            </div>
            <div class="default_block-img">
                <img src="img/history_1.png" alt="">
            </div>
        </div>
        <div class="default_block imgLeft">
            <div class="default_block-img">
                <img src="img/history_2.jpeg" alt="">
            </div>
            <div class="default_block-text">
                <p>Прийшло повернутися до того, від чого вони хотіли відмовитися – колке орехов з допомогою молотка.
                    Проблема, яка затронула невеликий бізнес Андрія, обернулась великою проблемою для всього ринку та
                    багатьох виробників орехов. Так виникла ідея створити практичне, недороге, просте у використанні,
                    мобільне і зручне обладнання для переробки грецьких орехов.</p>
                <p>У 2012 році Андрій створив власну компанію, і головною ідеєю було дати інструмент ринку, який би
                    вирішив проблему ефективності переробки грецького ореха. Все почалося з простих орехоколів і
                    переросло у виробництво механічних ліній з високою навантаженням і продуктивністю, калібрувальних
                    пристроїв і уборочного інструменту.</p>
                <p>Бренд сьогодні став провідником в світі рудоводства для новачків і професіоналів. Окрім виробництва
                    та поставок обладнання, компанія надає кожному клієнту вичерпну, свіжу та достовірну інформацію про
                    орехи, ореховодство та обладнання для переробки. У нашому асортименті є обладнання для вироблення
                    орехов як в домашніх умовах в ручному режимі, так і лінії для ефективної переробки великих об'ємів
                    орехов в промислових умовах.</p>

            </div>
        </div>
    </div>
</section>