<section class="our-team">
    <div class="container">
        <h2 class="title title_pages">Наша поманда</h2>
        <div class="swiper teamSlider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url('img/our-team.png') center center/cover no-repeat;">
                    <div class="text_block">
                        <h5 class="team_name">Олександров Андрій Андрійович</h5>
                        <span class="team_position">Директор</span>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является
                            стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                    </div>
                </div>
                <div class="swiper-slide" style="background: url('img/our-team.png') center center/cover no-repeat;">
                    <div class="text_block">
                        <h5 class="team_name">Олександров Андрій Андрійович</h5>
                        <span class="team_position">Директор</span>

                    </div>
                </div>
                <div class="swiper-slide" style="background: url('img/our-team.png') center center/cover no-repeat;">
                    <div class="text_block">
                        <h5 class="team_name">Олександров Андрій Андрійович</h5>
                        <span class="team_position">Директор</span>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является
                            стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                    </div>
                </div>
                <div class="swiper-slide" style="background: url('img/our-team.png') center center/cover no-repeat;">
                    <div class="text_block">
                        <h5 class="team_name">Олександров Андрій Андрійович</h5>
                        <span class="team_position">Директор</span>

                    </div>
                </div>
                <div class="swiper-slide" style="background: url('img/our-team.png') center center/cover no-repeat;">
                    <div class="text_block">
                        <h5 class="team_name">Олександров Андрій Андрійович</h5>
                        <span class="team_position">Директор</span>

                    </div>
                </div>
                <div class="swiper-slide" style="background: url('img/our-team.png') center center/cover no-repeat;">
                    <div class="text_block">
                        <h5 class="team_name">Олександров Андрій Андрійович</h5>
                        <span class="team_position">Директор</span>

                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>