<section class="banners">
    <div class="container">
        <h2 class="title title_pages"></h2>
        <div class="banners_content">
            <div class="banner_withoutDescr banners_default" style="background: url('img/banner.png') center center/cover no-repeat;">
                <h3 class="banner_title">Gorihovuy hub</h3>
                <a href="#" class="banner_btn">Долучитись</a>
            </div>
            <div class="banner_whitDescr banners_default" style="background: url('img/banner_descr.jpeg') center center/cover no-repeat;">
                <h3 class="banner_title">обирайте спеціальне обладнання для будинку</h3>
                <p class="banner_descr">Всі наші лускунчики мають тривалий гарантійний термін і післягарантійне обслуговування.</p>
                <a href="#" class="banner_btn">Переглянути каталог</a>
            </div>

        </div>
    </div>
</section>