<section class="contacts_form">
    <div class="contacts_form-wrapper">
        <div class="block_contacts" style="background: url('img/contacts_form.jpeg') center center/cover no-repeat;">
            <div class="block_contacts-title">
                <h3 class="title title_white">Контактна інформація</h3>
                <p>Будемо раді допомогти вам з вибором та придбанням обладнання для обробки горіхів. Наші контактні дані
                    допоможуть вам швидко зв’язатися з нами для вирішення будь-яких питань.</p>
            </div>
            <div class="block_contacts-items">
                <p>Наші контакти:</p>
                <div class="contacts_items-flex">
                    <div class="default_block">
                        <p>телефон</p>
                        <a href="#">+38(___) ___ ___ __</a>
                    </div>
                    <div class="default_block">
                        <p>пошта</p>
                        <a href="#">email_adress@com</a>
                    </div>

                </div>
            </div>

        </div>
        <div class="block_form">
            <form action="#" class="form form_main">
                <h4 class="title title_white">оберіть асортимент продукції</h4>
                <div class="radio-group">
                    <p>Оберіть тип горіху</p>
                    <label class="radio-container">
                        <input type="radio" name="nut" value="walnut" checked>
                        <span class="custom-radio"></span>
                        Волоський горіх
                    </label>
                    <label class="radio-container">
                        <input type="radio" name="nut" value="hazelnut">
                        <span class="custom-radio"></span>
                        Фундук
                    </label>
                    <label class="radio-container">
                        <input type="radio" name="nut" value="almond">
                        <span class="custom-radio"></span>
                        Мигдаль
                    </label>
                </div>
                <div class="inputs">
                    <div class="input">
                        <input type="text" name="name" placeholder="Ваше ім’я">
                    </div>
                    <div class="input">
                        <input type="text" name="phone" placeholder="Ваш телефон">
                    </div>
                    <div class="input">
                        <input type="text" name="email" placeholder="Ваш e-mail">
                    </div>
                    <div class="custom-select">
                        <div class="custom-select__selected">Послуга</div>
                        <ul class="custom-select__options">
                            <li class="custom-select__option">Тип 1</li>
                            <li class="custom-select__option">Тип 2</li>
                            <li class="custom-select__option">Тип 3</li>
                        </ul>
                    </div>
                    <div class="input">
                        <textarea name="message" placeholder="Ваш коментар"></textarea>
                    </div>
                </div>
                <button class="btn btn_form">Відправити</button>
            </form>
        </div>
    </div>
</section>