<footer class="footer ">
    <div class="container">
        <a href="#" class="footer_logo ">
            <img src="img/logo.svg" alt="">
        </a>
        <div class="footer_content">
            <ul class="footer_navigation">
                <li>
                    <a href="#">Процеси</a>
                </li>
                <li>
                    <a href="#">Продукт</a>
                </li>
                <li>
                    <a href="#">Про нас</a>
                </li>
                <li>
                    <a href="#">Новини</a>
                </li>
                <li>
                    <a href="#">Контакти</a>
                </li>
                <li>
                    <a href="#">Блог</a>
                </li>
            </ul>
            <div class="footer_contacts">
                <div class="contacts_item">
                    <p>телефон</p>
                    <a href="#">+38(___) ___ ___ __</a>
                </div>
                <div class="contacts_item">
                    <p>E-мейл</p>
                    <a href="#">email_adress@com</a>
                </div>
            </div>
            <ul class="footer_privacy">
                <li>
                    <a href="#">Політика конфіденційності</a>
                </li>
                <li>
                    <a href="#">Оплата та доставка</a>
                </li>
                <li>
                    <a href="#">Обмін та повернення</a>
                </li>

            </ul>
            <div class="footer_social">
                <p>Наші соцмережі:</p>
                <ul class="social_items">
                    <li>
                        <a href="#">
                            <img src="img/youtube.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/facebook.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/inst.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/telegram.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="date_development">@ 2024 Усі права захищено</p>
        <a href="#" class="developer">SkillUnit</a>
    </div>
</footer>