<section class="goods_slider ">
    <div class="container">
        <h2 class="title title_pages">Популярні продукти</h2>
        <div class="swiper swiper_goods">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide_title">
                        <button class="slide_btn">Замовити консультацію</button>
                        <a href="#" class="slide_download">
                            <img src="img/download.svg" alt="">
                        </a>
                    </div>
                    <div class="slide_content">
                        <div class="slide_content-descr">
                            <h4 class="descr_title">Автоматизована лінія промислової переробки волоського горіха</h4>
                            <p class="descr_subtitle">Максимально оптимізує та прискорює процес обробки та забезпечує
                                високу віддачу всього ядра.</p>
                            <span class="descr_price">Від: 120 000 грн </span>
                            <div class="descr_characteristics">
                                <div class="characteristics_item">
                                    <span>продуктивність</span>
                                    <p>300 кг/год</p>
                                </div>
                                <div class="characteristics_item">
                                    <span>Тип</span>
                                    <p>Волоський горіх</p>
                                </div>
                            </div>
                        </div>
                        <div class="slide_content-img">
                            <img src="img/slider_item.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_title">
                        <button class="slide_btn">Замовити консультацію</button>
                        <a href="#" class="slide_download">
                            <img src="img/download.svg" alt="">
                        </a>
                    </div>
                    <div class="slide_content">
                        <div class="slide_content-descr">
                            <h4 class="descr_title">Автоматизована лінія промислової переробки волоського горіха</h4>
                            <p class="descr_subtitle">Максимально оптимізує та прискорює процес обробки та забезпечує
                                високу віддачу всього ядра.</p>
                            <span class="descr_price">Від: 120 000 грн </span>
                            <div class="descr_characteristics">
                                <div class="characteristics_item">
                                    <span>продуктивність</span>
                                    <p>300 кг/год</p>
                                </div>
                                <div class="characteristics_item">
                                    <span>Тип</span>
                                    <p>Волоський горіх</p>
                                </div>
                            </div>
                        </div>
                        <div class="slide_content-img">
                            <img src="img/slider_item.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_title">
                        <button class="slide_btn">Замовити консультацію</button>
                        <a href="#" class="slide_download">
                            <img src="img/download.svg" alt="">
                        </a>
                    </div>
                    <div class="slide_content">
                        <div class="slide_content-descr">
                            <h4 class="descr_title">Автоматизована лінія промислової переробки волоського горіха</h4>
                            <p class="descr_subtitle">Максимально оптимізує та прискорює процес обробки та забезпечує
                                високу віддачу всього ядра.</p>
                            <span class="descr_price">Від: 120 000 грн </span>
                            <div class="descr_characteristics">
                                <div class="characteristics_item">
                                    <span>продуктивність</span>
                                    <p>300 кг/год</p>
                                </div>
                                <div class="characteristics_item">
                                    <span>Тип</span>
                                    <p>Волоський горіх</p>
                                </div>
                            </div>
                        </div>
                        <div class="slide_content-img">
                            <img src="img/slider_item.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_title">
                        <button class="slide_btn">Замовити консультацію</button>
                        <a href="#" class="slide_download">
                            <img src="img/download.svg" alt="">
                        </a>
                    </div>
                    <div class="slide_content">
                        <div class="slide_content-descr">
                            <h4 class="descr_title">Автоматизована лінія промислової переробки волоського горіха</h4>
                            <p class="descr_subtitle">Максимально оптимізує та прискорює процес обробки та забезпечує
                                високу віддачу всього ядра.</p>
                            <span class="descr_price">Від: 120 000 грн </span>
                            <div class="descr_characteristics">
                                <div class="characteristics_item">
                                    <span>продуктивність</span>
                                    <p>300 кг/год</p>
                                </div>
                                <div class="characteristics_item">
                                    <span>Тип</span>
                                    <p>Волоський горіх</p>
                                </div>
                            </div>
                        </div>
                        <div class="slide_content-img">
                            <img src="img/slider_item.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>