<header class="header">
    <div class="container">
        <div class="header_wrapper">
            <div class="header_burger">
                <span></span>
            </div>
            <nav>
                <ul class="header_navigation">
                    <li>
                        <span>Товари</span>
                        <ul class="header_submenu">
                            <li class="subitem">
                                <a href="#">Test</a>
                            </li>
                            <li class="subitem">
                                <a href="#">Test</a>
                            </li>
                            <li class="subitem">
                                <a href="#">Test</a>
                            </li>
                            <li class="subitem">
                                <a href="#">Test</a>
                            </li>
                            <li class="subitem">
                                <a href="#">Test</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Про нас</a>
                    </li>
                    <li>
                        <a href="#">Контакти</a>
                    </li>
                    <li>
                        <a href="#">Новини</a>
                    </li>
                    <li>
                        <a href="#">Блог</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="header_logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="header_action">
                <ul class="header_mobile">
                    <a href="#" class="nobile">+38(0 99) 123 45 67</a>
                </ul>
                <div class="header_language">
                    <span class="language_item">UK</span>
                    <ul class="sub_language">
                        <li>
                            <a href="#">RU</a>
                        </li>
                        <li>
                            <a href="#">ENG</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>