<div class="mobile_menu">
    <div class="mobile_menu-wrapper">
        <button class="close_menu"></button>
        <ul class="mobile_menu-nav">
            <li>
                <span>Товари</span>
                <ul class="mobile_menu-subnav">
                    <li>
                        <a href="#">Переработка грецкого ореха</a>
                        <ul class="mobile_menu-list">
                            <li>
                                <a href="#">Сбор урожая</a>
                            </li>
                            <li>
                                <a href="#">Сушка</a>
                            </li>
                            <li>
                                <a href="#">Калибровка</a>
                            </li>
                            <li>
                                <a href="#">Трещины</a>
                            </li>
                            <li>
                                <a href="#">Сортировка</a>
                            </li>
                            <li>
                                <a href="#">Линии переработки</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Переработка фундука</a>
                        <ul class="mobile_menu-list">
                            <li>
                                <a href="#">Сбор урожая</a>
                            </li>
                            <li>
                                <a href="#">Сушка</a>
                            </li>
                            <li>
                                <a href="#">Калибровка</a>
                            </li>
                            <li>
                                <a href="#">Трещины</a>
                            </li>
                            <li>
                                <a href="#">Сортировка</a>
                            </li>
                            <li>
                                <a href="#">Линии переработки</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Переработка миндаля</a>
                        <ul class="mobile_menu-list">
                            <li>
                                <a href="#">Сбор урожая</a>
                            </li>
                            <li>
                                <a href="#">Сушка</a>
                            </li>
                            <li>
                                <a href="#">Калибровка</a>
                            </li>
                            <li>
                                <a href="#">Трещины</a>
                            </li>
                            <li>
                                <a href="#">Сортировка</a>
                            </li>
                            <li>
                                <a href="#">Линии переработки</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Бытовая техника</a>
                        <ul class="mobile_menu-list">
                            <li>
                                <a href="#">Сбор урожая</a>
                            </li>
                            <li>
                                <a href="#">Сушка</a>
                            </li>
                            <li>
                                <a href="#">Калибровка</a>
                            </li>
                            <li>
                                <a href="#">Трещины</a>
                            </li>
                            <li>
                                <a href="#">Сортировка</a>
                            </li>
                            <li>
                                <a href="#">Линии переработки</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Про нас</a>
            </li>
            <li>
                <a href="#">Контакти</a>
            </li>
            <li>
                <a href="#">Новини</a>
            </li>
            <li>
                <a href="#">Блог</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
        <div class="header_mobile">
            <a href="#" class="nobile">+38(0 99) 123 45 67</a>
        </div>
        <ul class="social_media">
            <li>
                <a href="#">
                    <img src="img/youtube.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/facebook.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/inst.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/telegram.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>