<section class="our_clients">
    <div class="container">
        <h2 class="title title_pages">НАші клієнти</h2>
        <div class="clients_slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/clients-1.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/clients-2.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/clients-3.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/clients-4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/clients-5.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/clients-6.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/clients-7.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/clients-8.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/clients-1.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/clients-3.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/clients-4.png" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>