<section class="product-card_video animate__animated animate__fadeInUp wow">
    <div class="container">
        <div class="block_wrapper">
            <h2 class="title title_pages">відео</h2>
            <div class="block_video">
                <a data-fancybox
                    href="https://www.youtube.com/watch?v=Qh2NmG8yiZs&ab_channel=%D0%93%D0%BE%D1%80%D1%96%D1%85%D0%BE%D0%B2%D0%BE%D0%B4"
                    class="video_link" style="background: url('img/video-2.png') center center/cover no-repeat;">
                    <img src="img/icon_video.svg" alt="" class="video_btn">
                </a>
                <a data-fancybox href="https://www.youtube.com/watch?v=LzlmkvjFX4U&ab_channel=%D0%93%D0%BE%D1%80%D1%96%D1%85%D0%BE%D0%B2%D0%BE%D0%B4"
                    class=" video_link" style="background: url('img/video-1.png') center center/cover no-repeat;">
                </a>
            </div>
            <div class="block_btn">
                <a href="#" class="btn btn_download">скачати брошуру</a>
                <button class="btn btn_transparent">Запросити ціну</button>
                
            </div>
        </div>
    </div>
</section>