<section class="product-card_blockTextBig block_constructor">
    <div class="block_wrapper">
        <div class="block_img animate__animated animate__fadeInLeft wow" style="background: url('img/block_constructor.jpeg') center center/cover no-repeat;">
        </div>
        <div class="block_text animate__animated  animate__fadeInRight wow">
            <h2 class="title title_pages ">Переваги</h2>
            <ul>
                <li>Потужність 200 кг на годину</li>
                <li>Можливість відділити шкаралупу від ядра без ручної праці</li>
                <li>Сортує ядра на 3 розміри 1/2 1/4 1/8</li>
                <li>Замінить понад 20 людей</li>
            </ul>
        </div>

    </div>
</section>



