<section class="product-card_blockImgBig block_constructor">
    <div class="block_wrapper">
        <div class="block_text animate__animated animate__fadeInLeft wow">
            <h2 class="title title_pages">Опис</h2>
            <p>В основі лінії лежить наша <i>машина для розколювання волоських горіхів,</i> яка відрізняється
                конічним
                принципом розколювання, що забезпечує точне та чудове розколювання волоських горіхів з вражаючим
                виходом <i>цілих ядер у 80%.</i> </p>
            <p>Незалежно від того, чи обробляєте ви волоські горіхи з власного саду або одержуєте їх від різних
                постачальників, наш промисловий горіхокол призначений для легкої обробки волоських горіхів різної
                якості.</p>
        </div>
        <div class="block_img animate__animated  animate__fadeInRight wow" style="background: url('img/popular-products.jpeg') center center/cover no-repeat;"></div>
    </div>
</section>