<section class="product-card_banner animate__animated animate__fadeInUp wow"
    style="background: url('img/product-card_banner.jpeg') center center/cover no-repeat;">
    <div class="block_wrapper">
        <h2 class="title title_productBanner">Обладнання для лущення горіха – ваш ключ до ефективності та прибутку!</h2>
        <p>Високоякісне обладнання для лущення горіха від компанії "Gorihovod" допоможе вам збільшити продуктивність, зекономити час та отримати більше вигоди. Обирайте надійність та професіоналізм!</p>
        <a href="#" class="btn btn_productBanner">Замовити обладнання зараз</a>
    </div>
</section>