<section class="product-card_main">
    <div class="container">
        <div class="product-card_wrapper">
            <div class="swiper-container gallery-container">
                <div class="swiper swiper-main">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 1">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 1">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 1">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 1">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 1">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 1">
                        </div>
                    </div>
                </div>


                <div class="custom-thumb swiper-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 1">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 2">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 3">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 4">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 5">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider.png" alt="Product Image 6">
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>

            <div class="block_text">
                <div class="block_text-title">
                    <span class="availability">В наявності</span>
                    <span class="article">Артикул: <i>50</i></span>
                </div>
                <div class="block_text-descr">
                    <h2 class="title title_product">Автоматизовгоріха (200
                        кг/год)</h2>
                    <p class="descr">Лінія здатна переробляти до 200 кг волоських горіхів на годину. Максимально
                        оптимізує та прискорює процес переробки та дає високий вихід цілого ядра.</p>
                    <span class="price">Від: 180 000 грн </span>
                    <button class="btn btn_product">Замовити</button>
                </div>
            </div>
        </div>
    </div>
    <ul class="product-card_bottom">
        <li>
            <div>
                <p>Продуктивність</p>
                <span>До 200 кг/ч</span>
            </div>
        </li>
        <li>
            <div>
                <p>Матеріал</p>
                <span>Сталь</span>
            </div>
        </li>
        <li>
            <div>
                <p>Напруження</p>
                <span>380 В</span>
            </div>
        </li>
        <li>
            <div>
                <p>Гарантія</p>
                <span>12 міс.</span>
            </div>
        </li>
        <li>
            <div>
                <p>Зроблено в</p>
                <span>Україна</span>
            </div>
        </li>
    </ul>
</section>