@font-face {
  font-family: Overpass;
  src: url('../fonts/Overpass-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/Overpass-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/Overpass-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/Overpass-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/Overpass-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/Overpass-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/Overpass-ExtraBold.ttf');
  font-weight: 800;
}
