.title {
    color: $colorWhite;
    text-align: center;
    font-family: Overpass;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;

    &_main {
        font-size: 30px;
    }

    &_pages {
        font-size: 24px;
        color: $colorDark;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;
    }

    &_white {
        font-size: 21px;
        font-weight: 500;
        text-align: left;
        text-transform: uppercase;
    }

    &_productBanner {
        font-size: 20px;
        font-weight: 700;
    }
    &_product {
        font-size: 18px;
        color: $colorDark;
        text-align: left;
        font-weight: 600;
    }
}




@media (min-width: 648px) {
    .title {
        &_main {
            font-size: 36px;
        }

        &_pages {
            font-size: 28px;
        }

        &_white {
            font-size: 28px;
        }
        &_productBanner {
            font-size: 28px;
        }
        &_product {
            font-size: 24px;
        }
    }
}


@media (min-width: 1366px) {
    .title {
        &_main {
            font-size: 48px;
        }

        &_pages {
            font-size: 30px;
        }

        &_white {
            font-size: 30px;
        }
        &_productBanner {
            font-size: 32px;
        }
        &_product {
            font-size: 28px;
        }
    }
}


@media (min-width: 1880px) {
    .title {
        &_main {
            font-size: 64px;
            max-width: 1300px;
            display: block;
            margin: 0 auto;
        }

        &_pages {
            font-size: 34px;
        }

        &_white {
            font-size: 34px;
        }
        &_productBanner {
            font-size: 36px;
        }
        &_product {
            font-size: 32px;
            max-width: 530px;
        }
    }
}