<section class="faq_main">
    <div class="container">
        <ul class="faq_items">
            <li class="faq_item">
                <span class="faq_item-title">До яких країн ви здійснюєте доставку?</span>
                <div class="faq_item-text faq_item-open">Здійснюємо доставку у всі країни світу (крім Росії та Білорусі) за допомогою
                    експедиторських та логістичних компаній. Для уточнення виду та вартості доставки до вашої країни
                    зв'яжіться з менеджером.</div>
            </li>
            <li class="faq_item">
                <span class="faq_item-title">До яких країн ви здійснюєте доставку?</span>
                <div class="faq_item-text">Здійснюємо доставку у всі країни світу (крім Росії та Білорусі) за допомогою
                    експедиторських та логістичних компаній. Для уточнення виду та вартості доставки до вашої країни
                    зв'яжіться з менеджером.</div>
            </li>
            <li class="faq_item">
                <span class="faq_item-title">До яких країн ви здійснюєте доставку?</span>
                <div class="faq_item-text">Здійснюємо доставку у всі країни світу (крім Росії та Білорусі) за допомогою
                    експедиторських та логістичних компаній. Для уточнення виду та вартості доставки до вашої країни
                    зв'яжіться з менеджером.</div>
            </li>
            <li class="faq_item">
                <span class="faq_item-title">До яких країн ви здійснюєте доставку?</span>
                <div class="faq_item-text">Здійснюємо доставку у всі країни світу (крім Росії та Білорусі) за допомогою
                    експедиторських та логістичних компаній. Для уточнення виду та вартості доставки до вашої країни
                    зв'яжіться з менеджером.</div>
            </li>
        </ul>
    </div>
</section>