<section class="catalog_items">
    <div class="container">
        <div class="catalog_title">
            <h2 class="title title_pages">Каталог обладнання</h2>
            <button class="btn btn_filter">Фільтр</button>
        </div>
        <div class="catalog_wrapper">
            <div class="filter">
                <div class="radio-group">
                    <div class="filter_title">
                        <p>Фільтр</p>
                        <span class="filter_close"></span>
                    </div>
                    <label class="checkbox-option">
                        <input type="checkbox" name="process" value="harvesting" checked>
                        <span>Збирання врожаю</span>
                    </label>
                    <label class="checkbox-option">
                        <input type="checkbox" name="process" value="washing">
                        <span>Миття</span>
                    </label>
                    <label class="checkbox-option">
                        <input type="checkbox" name="process" value="drying">
                        <span>Сушіння</span>
                    </label>
                    <label class="checkbox-option">
                        <input type="checkbox" name="process" value="calibration">
                        <span>Калібрування</span>
                    </label>
                    <label class="checkbox-option">
                        <input type="checkbox" name="process" value="shelling">
                        <span>Лущення</span>
                    </label>
                    <label class="checkbox-option">
                        <input type="checkbox" name="process" value="sorting">
                        <span>Сортування</span>
                    </label>
                    <label class="checkbox-option">
                        <input type="checkbox" name="process" value="processLine1">
                        <span>Лінії процесу</span>
                    </label>
                    <label class="checkbox-option">
                        <input type="checkbox" name="process" value="processLine2">
                        <span>Лінії Процесу</span>
                    </label>
                    <button class="btn btn_submitFilter">Примінити</button>
                </div>

            </div>
            <div class="products_items">
                <ul class="items">
                    <li class="swiper-slide">
                        <div class="slide_title">
                            <button class="slide_btn">Замовити консультацію</button>
                            <a href="#" class="slide_download">
                                <img src="img/download.svg" alt="">
                            </a>
                        </div>
                        <div class="slide_content">
                            <div class="slide_content-descr">
                                <h4 class="descr_title">Автоматизована лінія промислової переробки волоського горіха
                                </h4>
                                <p class="descr_subtitle">Максимально оптимізує та прискорює процес обробки та
                                    забезпечує
                                    високу віддачу всього ядра.</p>
                                <span class="descr_price">Від: 120 000 грн </span>
                                <div class="descr_characteristics">
                                    <div class="characteristics_item">
                                        <span>продуктивність</span>
                                        <p>300 кг/год</p>
                                    </div>
                                    <div class="characteristics_item">
                                        <span>Тип</span>
                                        <p>Волоський горіх</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slide_content-img">
                                <img src="img/slider_item.png" alt="">
                            </div>
                        </div>
                        <a href="#" class="link"></a>
                    </li>
                    <li class="swiper-slide">
                        <div class="slide_title">
                            <button class="slide_btn">Замовити консультацію</button>
                            <a href="#" class="slide_download">
                                <img src="img/download.svg" alt="">
                            </a>
                        </div>
                        <div class="slide_content">
                            <div class="slide_content-descr">
                                <h4 class="descr_title">Автоматизована лінія промислової переробки волоського горіха
                                </h4>
                                <p class="descr_subtitle">Максимально оптимізує та прискорює процес обробки та
                                    забезпечує
                                    високу віддачу всього ядра.</p>
                                <span class="descr_price">Від: 120 000 грн </span>
                                <div class="descr_characteristics">
                                    <div class="characteristics_item">
                                        <span>продуктивність</span>
                                        <p>300 кг/год</p>
                                    </div>
                                    <div class="characteristics_item">
                                        <span>Тип</span>
                                        <p>Волоський горіх</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slide_content-img">
                                <img src="img/slider_item.png" alt="">
                            </div>
                        </div>
                        <a href="#" class="link"></a>
                    </li>
                    <li class="swiper-slide">
                        <div class="slide_title">
                            <button class="slide_btn">Замовити консультацію</button>
                            <a href="#" class="slide_download">
                                <img src="img/download.svg" alt="">
                            </a>
                        </div>
                        <div class="slide_content">
                            <div class="slide_content-descr">
                                <h4 class="descr_title">Автоматизована лінія промислової переробки волоського горіха
                                </h4>
                                <p class="descr_subtitle">Максимально оптимізує та прискорює процес обробки та
                                    забезпечує
                                    високу віддачу всього ядра.</p>
                                <span class="descr_price">Від: 120 000 грн </span>
                                <div class="descr_characteristics">
                                    <div class="characteristics_item">
                                        <span>продуктивність</span>
                                        <p>300 кг/год</p>
                                    </div>
                                    <div class="characteristics_item">
                                        <span>Тип</span>
                                        <p>Волоський горіх</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slide_content-img">
                                <img src="img/slider_item.png" alt="">
                            </div>
                        </div>
                        <a href="#" class="link"></a>
                    </li>
                </ul>
                <nav class="pagination" aria-label="Page navigation">
                    <button class="btn_more">Прогрузити ще</button>
                    <ul>
                        <li class="page-item first-page">
                            <a href="#" aria-label="Prev-page">&laquo;</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link" data-page="1">1</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link" data-page="2">2</a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link" data-page="3">3</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link" data-page="4">4</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link" data-page="5">5</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">...</a>
                        </li>
                        <li class="page-item last-page">
                            <a href="#" aria-label="Next-page">&raquo;</a>
                        </li>
                    </ul>
                </nav>
                <div class="text_page">
                    <h3>JVMVMVMVMVMMVM</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ad impedit? Blanditiis
                        pariatur quidem aliquam eaque corrupti sed, deleniti autem atque voluptas explicabo repellat
                        natus dicta recusandae. Illum, molestias obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>