<section class="main_section"
    style="background: url('../img/mainBg.jpeg') center center/cover no-repeat;">
    <div class="container">
        <div class="main_wrapper">
            <h1 class="title title_main">Високоякісне обладнання для переробки горіхоплідних культур</h1>
            <span class="main_descr">Ми виробляємо обладнання для всіх процесів переробки горіхів від збирання до
                ядра</span>
            <a href="#" class="btn btn_main">Дізнатись ціни</a>
            
        </div>
        <ul class="social_media">
            <li>
                <a href="#">
                    <img src="img/youtube.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/facebook.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/inst.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/telegram.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>