<section class="popular_products">
    <div class="container">
        <h2 class="title title_pages">Популярні продукти</h2>
        <ul class="products_wrapper">
            <li class="products_wrapper-item animate__animated wow animate__fadeInUp">
                <a href="#" class="block_link" style="background: url('img/popular-products.jpeg') center center/cover no-repeat;">
                    <div class="block_link-top">
                        <div class="block_flex">
                            <img src="img/link_item.svg" alt="">
                            <h4>Переробка волоського горіха</h4>
                        </div>
                        <span class="link_btn">
                            <img src="img/arrowBlack.svg" alt="">
                        </span>
                    </div>
                </a>
                <ul class="block_stages">
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-1.svg" alt="">
                            </div>
                            <p>збирання врожаю</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-2.svg" alt="">
                            </div>
                            <p>Миття</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-3.svg" alt="">
                            </div>
                            <p>Сушіння</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-4.svg" alt="">
                            </div>
                            <p>Калібрування</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-5.svg" alt="">
                            </div>
                            <p>Лущення</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-6.svg" alt="">
                            </div>
                            <p>Сортування</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-7.svg" alt="">
                            </div>
                            <p>Лінії процесу</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-7.svg" alt="">
                            </div>
                            <p>Лінії процесу</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="products_wrapper-item animate__animated wow animate__fadeInUp">
                <a href="#" class="block_link" style="background: url('img/popular-products.jpeg') center center/cover no-repeat;">
                    <div class="block_link-top">
                        <div class="block_flex">
                            <img src="img/link_item.svg" alt="">
                            <h4>Переробка волоського горіха</h4>
                        </div>
                        <span class="link_btn">
                            <img src="img/arrowBlack.svg" alt="">
                        </span>
                    </div>
                </a>
                <ul class="block_stages">
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-1.svg" alt="">
                            </div>
                            <p>збирання врожаю</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-2.svg" alt="">
                            </div>
                            <p>Миття</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-3.svg" alt="">
                            </div>
                            <p>Сушіння</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-4.svg" alt="">
                            </div>
                            <p>Калібрування</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-5.svg" alt="">
                            </div>
                            <p>Лущення</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-6.svg" alt="">
                            </div>
                            <p>Сортування</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-7.svg" alt="">
                            </div>
                            <p>Лінії процесу</p>
                        </a>
                    </li>
                    <li class="stages_item">
                        <a href="#">
                            <div class="img">
                                <img src="img/stages_item-7.svg" alt="">
                            </div>
                            <p>Лінії процесу</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>