<section class="contacts_form contacts">
    <div class="container">
        <div class="contacts_form-wrapper">
            <div class="block_contacts"
                style="background: url('img/contacts_form.jpeg') center center/cover no-repeat;">
                <div class="block_contacts-items">
                    <div class="contacts_items-flex">
                        <div class="default_block">
                            <p>График работы</p>
                            <span>Пн–Пт</span>
                            <span>9:30–17:00</span>
                        </div>
                        <div class="default_block">
                            <p>Наш поштовий адрес</p>
                            <span>NUT Technology, 36000, Украина, Полтава, Соборная площадь 15, офис 3</span>
                        </div>
                        <div class="default_block">
                            <p>телефон</p>
                            <a href="#">+38(___) ___ ___ __</a>
                        </div>
                        <div class="default_block">
                            <p>пошта</p>
                            <a href="#">email_adress@com</a>
                        </div>

                    </div>
                </div>

            </div>
            <div class="block_form">
                <form action="#" class="form form_main">
                    <h5 class="form_title">Зв'яжіться з нами</h5>
                    <p>Будь ласка, дайте нам знати, якщо у вас є питання або побажання.</p>
                    <div class="inputs">
                        <div class="input">
                            <input type="text" name="name" placeholder="Ваше ім’я">
                        </div>
                        <div class="input">
                            <input type="text" name="phone" placeholder="Ваш телефон">
                        </div>
                        <div class="input">
                            <input type="text" name="email" placeholder="Ваш e-mail">
                        </div>
                        <div class="input">
                            <textarea name="message" placeholder="Ваш коментар"></textarea>
                        </div>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="custom-checkbox" id="checkbox" name="checkbox_modal">
                        <label class="checkbox_label-modal" data-checkbox-id="checkbox" for="checkbox">Я погоджуюсь з
                            умовами
                            <a href="#">політики конфідеальності</a> і дозволю обробляти мої персональні дані</label>
                    </div>
                    <button class="btn btn_form">Відправити</button>
                </form>
            </div>
        </div>
    </div>
</section>