.modal_form {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .1s all ease;
    transform: scale(0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-origin: center;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(34, 36, 38, 0.70);
        z-index: -1;
    }

    .contacts_form-wrapper {
        .block_form {
            max-width: 90%;

            .block_item {
                display: none;
            }
        }

    }

    .modal_thanks {
        max-width: 90%;
    }


}

.modal_formActive.contacts {
    transition: .1s all ease;
    opacity: 1;
    overflow: visible;
    transform: scale(1);
    visibility: visible;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-origin: center;

    .contacts_form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .block_form {
            position: relative;
            visibility: visible;
            overflow: visible;
            opacity: 1;
            transform: scale(1);
            display: block;

            .close_form {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                background: url('../img/close_modal2.svg') center center/cover no-repeat;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
        }

        .block_formHide {
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            transform: scale(0);
            display: none;
        }

        .modal_thanks {
            padding: 45px;
            border: 2px solid #FFCD05;
            background: #FFF;
            position: relative;
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            transform: scale(0);
            display: none;
            transition: .15s all ease;
            .close_form {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                background: url('../img/close_modal2.svg') center center/cover no-repeat;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }

            span {
                color: #222426;
                text-align: center;
                font-family: Overpass;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin: 0 auto;
                display: block;
            }

            p {
                display: block;
                margin-top: 15px;
                color: #222426;
                text-align: center;
                font-family: Overpass;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .modal_thanskVisible {
            visibility: visible;
            overflow: visible;
            opacity: 1;
            transform: scale(1);
            display: block;
        }
    }

}

.modal_formItem {
    transition: .1s all ease;
    opacity: 1;
    overflow: visible;
    transform: scale(1);
    visibility: visible;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-origin: center;

    .contacts_form-wrapper {
        align-items: center;
        justify-content: center;

        .block_form {
            &::before {
                background: $colorWhite;
            }

            .close_form {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                background: url('../img/close_modal2.svg') center center/cover no-repeat;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }

            .form_title {
                text-align: center;
            }

            p {
                text-align: center;
                max-width: 70%;
                margin: 10px auto 0;
            }

            .block_item {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                margin-top: 40px;

                &-img {
                    flex-shrink: 0;
                    width: 115px;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 1;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        position: relative;
                        z-index: 1;

                    }
                }

                &-text {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .text-title {
                        color: #222426;
                        font-family: Overpass;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    .text-descr {
                        color: #222426;
                        font-family: Overpass;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 30px;
                        margin: 0;
                    }
                }
            }

            .inputs {
                .input {
                    border-radius: 3px;
                    border: 1px solid #E6E6E6;
                    background: #FFF;
                    
                    &:nth-child(3) {
                        display: none;
                    }
                    input[name="email"] {
                        display: none;
                    }
                }
            }
        }



        .block_formHide {
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            transform: scale(0);
            display: none;
        }

        .modal_thanks {
            padding: 45px;
            border: 2px solid #FFCD05;
            background: #FFF;
            position: relative;
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            transform: scale(0);
            display: none;

            .close_form {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                background: url('../img/close_modal2.svg') center center/cover no-repeat;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }

            h3 {
                color: #222426;
                text-align: center;
                font-family: Overpass;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            p {
                display: block;
                margin-top: 15px;
                color: #222426;
                text-align: center;
                font-family: Overpass;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .modal_thanskVisible {
            visibility: visible;
            overflow: visible;
            opacity: 1;
            transform: scale(1);
            display: block;
        }
    }
}



@media (min-width: 648px) {

    .modal_formItem {
        .contacts_form-wrapper {
            .block_form {
                .form_title {
                    text-align: center;
                    font-size: 25px;
                }

                p {
                    font-size: 18px;
                }

                .block_item {
                    gap: 20px;

                    &-img {
                        width: 160px;
                        height: 110px;
                        padding: 12px;
                    }

                    &-text {
                        gap: 10px;

                        .text-title {
                            font-size: 14px;
                        }

                        .text-descr {
                            font-size: 16px;
                        }
                    }
                }
            }

            .modal_thanks {
                padding: 45px;
                border: 2px solid #FFCD05;
                background: #FFF;
                position: relative;
                visibility: hidden;
                overflow: hidden;
                opacity: 0;
                transform: scale(0);
                display: none;

                .close_form {
                    display: block;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background: url('../img/close_modal2.svg') center center/cover no-repeat;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                }

                span {
                    font-size: 20px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}


@media (min-width: 1366px) {
    .modal_formItem {
        .contacts_form-wrapper {
            .block_form {
                .close_form {
                    top: 18px;
                    right: 18px;
                }

                .form_title {
                    font-size: 30px;
                }

                p {
                    font-size: 20px;
                }

                .block_item {
                    margin-top: 45px;

                    &-img {
                        width: 160px;
                        height: 110px;
                        padding: 12px;
                    }

                    &-text {
                        gap: 10px;

                        .text-title {
                            font-size: 16px;
                        }

                        .text-descr {
                            font-size: 18px;
                        }
                    }
                }
            }

            .modal_thanks {
                padding: 45px;
                border: 2px solid #FFCD05;
                background: #FFF;
                position: relative;
                visibility: hidden;
                overflow: hidden;
                opacity: 0;
                transform: scale(0);
                display: none;

                .close_form {
                    display: block;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background: url('../img/close_modal2.svg') center center/cover no-repeat;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                }

                span {
                    color: #222426;
                    text-align: center;
                    font-family: Overpass;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                p {
                    display: block;
                    margin-top: 15px;
                    color: #222426;
                    text-align: center;
                    font-family: Overpass;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}


@media (min-width: 1880px) {
    .modal_formItem {
        .contacts_form-wrapper {
            .block_form {   
                width: 50%;
                .block_item {
                    &-text {
                        .text-title {
                            font-size: 18px;
                        }

                        .text-descr {
                            font-size: 20px;
                        }
                    }
                }
            }

            .modal_thanks {
                padding: 45px;
                border: 2px solid #FFCD05;
                background: #FFF;
                position: relative;
                visibility: hidden;
                overflow: hidden;
                opacity: 0;
                transform: scale(0);
                display: none;

                .close_form {
                    display: block;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background: url('../img/close_modal2.svg') center center/cover no-repeat;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                }

                span {
                    color: #222426;
                    text-align: center;
                    font-family: Overpass;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                p {
                    display: block;
                    margin-top: 15px;
                    color: #222426;
                    text-align: center;
                    font-family: Overpass;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}